*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    z-index: 1;
}
.headerStyle{
    color: burlywood;
    height: 50px;
}

.datosPersonajes{
    margin-top: 140px;
    margin-bottom: 60px;
}